fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
alembic
asyncpg
greenlet
torch
ray
mesa
numpy
yfinance
pandas
wbgapi
psycopg2-binary
sqlalchemy
requests
hmmlearn
pgmpy
networkx
joblib
mlflow
